{% extends "master.html" %}
{% block title %}Results{% endblock %}

{% block content %}
<div class="results">
    <div class="message-relay">
        {% block message %}
        <h2 class="text-center">Message</h2>
        <p class="text-center"><i>"{{query}}"</i></p>
        {% endblock %}
    </div>
    
    <div class="classification-results">
        <h2 class="text-center">Labels</h2>
        <ul class="classification-labels">
            {% for category, classification in classification_result.items() %}
                {% if classification == 1 %}
                    <li class="list-group-item list-group-item-success text-center">{{category.replace('_', ' ').title()}}</li>
                {% else %}
                    <li class="list-group-item list-group-item-dark text-center">{{category.replace('_', ' ').title()}}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
